header {
  background: #222;
  color: white;
  padding: 10px;
  text-align: center;
}

#menu {
  padding: 10px;
  background: #ddd;
}

.card {
  background: rgba(255,255,255,0.95);
  backdrop-filter: blur(5px); /* effet moderne */
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 196px;
  display: inline-block;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}


input, textarea { 
  width: 100%; 
  margin-bottom: 10px; 
  font-family: Bookman Old Style;
}

label { 
  font-weight: bold; 
  display: block; 
  margin-top: 10px; 
  color: #333; 
}

h3 { 
  margin-top: 20px; color: #555;
}

.category-content { 
  margin-left: 10px; 
}

.inline-fields {
  display: flex;
  gap: 15px;       /* espace entre chaque champ */
  margin-bottom: 10px;
}

.inline-fields > div {
  flex: 1;         /* tous les champs prennent une largeur égale */
  display: flex;
  flex-direction: column;
}

.chart-container {
  width: 300px;     /* largeur du graphique */
  height: 300px;    /* hauteur */
  margin: 20px auto; /* centré */
}



body {
  font-family: Bookman Old Style;
  margin: 0;

  background : rgba(0, 0, 0, 1);
}

#content {
  background: rgba(255, 255, 255, 0.5); /* blanc transparent */
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}



.chart-container {
  width: 300px;
  height: 300px;
  margin: 20px auto;

  background: rgba(255,255,255,0.9);
  border-radius: 10px;
  padding: 10px;
}